<!--フラッシュメッセージ-->
<div>
  <%= flash[:notice] %>
</div>
       
<!--メイン--> 
<div class="container mt-4">
  <div class="row mt-3">
    <div class="col-md-3">  
      <%= render 'books/list', booker: Book.new, user: @user_books.user %>
    </div>
    <div class="col-md-8 ml-auto"> 
        <h1>Books</h1>
        
        <table class="table">
          
          <thead>
            <tr>
              <th style="width: 10%"></th>
              <th scope="col" style="width: 30%">Title</th>
              <th scope="col" style="width: 60%">Opinion</th>
            </tr>
          </thead>
          <% @user_books.each do |book| %>
          <tbody>
            <tr>
              <td>
                <%= image_tag book.user.get_profile_image(100,100) %>
              </td>
              <td>
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td>
                <%= book.body %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
    </div>
  </div>
</div>
