<h1>User info</h1>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col"><%= user.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>introduction</strong></td>
      <td><strong><%= user.introduction %></strong></td>
    </tr>
  </tbody>
</table>
<div class="text-center">
  <%= link_to "/users/#{user.id}/edit", class: 'btn btn-white btn-sm btn-block mb-3 border border-dark border-2' do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>  

<div class="d-flex flex-column">
<h1>New book</h1>
<%= form_with model:booker do |f| %>
  <div>
    <label class="form-label">Title</label>
    <%= f.text_field :title, class:"form-control" %>
    <label class="form-label">Opinion</label>
    <div  class="flex-fill mb-2"><%= f.text_area :body, class:"form-control", rows:"2" %></div>
    <div  class="flex-fill"><%= f.submit 'Create Book', class: 'btn btn-success mb-3' %></div>
  </div>
<% end %>
</div>


  
