<div>
  <%= flash[:notice] %>
</div>

<% if @booker.errors.any? %>
  <%= @booker.errors.count %> error prohibited this obj from being saved:
  <ul>
    <%= @booker.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'list', booker: @booker %>



<% @books.each do |book| %>
  <h1>Books</h1>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image(100,100) %>
  <% end %>

  <h4>Title</h4>
  <%= book.title %>
  <h4>Opinion</h4>
  <%= book.body %>
<% end %>
