 <!--フラッシュメッセージ-->
 <div>
  <%= flash[:notice] %>
</div>

<!--メイン-->
<div class="container">
  <div class="row mt-3">
    <div class="col-md-4">  
      <%= render 'list', booker: @booker, user: @book.user %>
    </div>
    <div class="col-md-8.offset-md-1"> 
      <h1>Book detail</h1>
      
      <table class="table">
        <tbody>
          <tr>
            <td class="d-flex flex-column" style="width: 10%">
              <div  class="flex-fill">
                <%= link_to user_path(@book.user.id) do %>
                  <%= image_tag @book.user.get_profile_image(100,100) %></div>
                <% end %>
              <div  class="flex-fill"><%= link_to @book.user.name, user_path(@book.user.id)%></div>
            </td>
            <td style="width: 25%">
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td style="width: 45%"><%= @book.body %></td>
            <td style="width: 5%">
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-success btn-sm btn-block mb-3' %>
              <% end %>
            </td>
            <td style="width: 5%">
              <% if @book.user == current_user %>
                <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-danger btn-sm btn-block mb-3' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>