 <!--フラッシュメッセージ-->
 <div>
  <%= flash[:notice] %>
</div>

<!--メイン-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">  
      <%= render 'list', booker: @booker, user: User.find(params[:id]) %>
    </div>
    <div class="col-md-7 ml-auto"> 
      
      <h1>Book detail</h1>
      <div>
        
        <%= @book.user.name %>
        <%= @book.title %>
        <%= @book.body %>
      </div>
      
      
      <% if @book.user == current_user %>
       <%= link_to "Edit", edit_book_path(@book.id) %>
      <% end %>
      
      <% if @book.user == current_user %>
       <%= link_to "Destroy", book_path(@book), method: :delete %>
      <% end %>
    </div>
  </div>
</div>